{% extends "layout.html" %}

{% block content %}
<form method="POST" action="{{ url_for('predict') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.national_inv.label }}<br>
        {{ form.national_inv(size=32) }}
    </div>
    <div>
        {{ form.lead_time.label }}<br>
        {{ form.lead_time(size=32) }}
    </div>
    <div>
        {{ form.forecast_3_month.label }}<br>
        {{ form.forecast_3_month(size=32) }}
    </div>
    <div>
        {{ form.num_trucks.label }}<br>
        {{ form.num_trucks(size=32) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
